#Always ignore environment files
*.env

# Stuff generated into home
home/.config/btop/btop.log
home/.config/navi/navi.log
home/.config/nvim/

# Encrypted files
.gitconfig.private
.gitconfig.lely
vectorv2.cheat
